/* -------------------------------- */
/* GLOBAL RULES */
/* -------------------------------- */

.App {
  background-color: #000000;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

/* -------------------------------- */
/* Header */
/* -------------------------------- */
.header {
  width: 97%;
  height: 140px;
  margin: 0 auto;
}
.header img {
  height: 90%;
  object-fit: cover;
  object-position: center;
}

/* -------------------------------- */
/* sections */
/* -------------------------------- */
.sections {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.section {
  margin-bottom: 40px;
}
.section > h2 {
  font-size: 20px;
  line-height: 17px;
  margin-bottom: 20px;
}
.section > .images {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
.section .images::-webkit-scrollbar {
  display: none;
}
.section > .images img {
  object-fit: cover;
  object-position: center;
  height: 150px;
}
